<section class="section extra-padd">
  <div class="container">

      <h4 class="intro-header">Lets talk...<span></span></h4>
      <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-7">
              <h4>Get in touch</h4>
              <p>+44 (0)800 6345 7890.
                  <br />
                  <a href="mailto:info@incentive.com">info@incentive.com</a>
              </p>
              <p>
                  <a href="#" title="Request Form">Request Form</a>
              </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-5">
              <app-contact-form></app-contact-form>
          </div>
      </div>
  </div>
</section>