<header>
	<div #header class="header">
		<div class="container container-fluid__header">

			<nav class="navbar">
				<div id="toggleHeader" class="navbar-header">
					<button id="toggleBtn" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target="#navbar1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="http://incentive.com"></a>
				</div>
				<div id="toggleNav" class="navbar-collapse collapse">
					<!--<div class="logo-nav"></div>-->
					<ul class="nav navbar-nav navbar-left">
						<li class="dropdown dropdown--fullwidth">
							<a href="#" class="dropdown-toggle" data-dropdown-trigger="services" data-toggle="dropdown" role="button"
								aria-expanded="false">Services
								<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<div class="dropdown-menu" id="ddServices" data-dropdown="services" role="menu" style="visibility: visible;
								opacity: 1;">
								<div class="dropdown-menu--inner">
									<div class="dropdown-cont">
	
										<div class="row">
											<div class="col-xs-12 col-sm-9">
												<h4>Menu Heading</h4>
												<p>An incentive is something that motivates an individual to perform an
													action. Non auctor
													odio convallis sit amet. Curabitur tempus pulvinar urna, id cursus
													purus ultrices quis. Integer ut mattis leo.</p>
											</div>
											<div class="col-xs-12 col-sm-3">
												<button class="btn btn-default sml">
													Learn more <i class="fa fa-angle-right" aria-hidden="true"></i>
												</button>
											</div>
										</div>
	
	
										<hr />
										<ul class="list-unstyled col-xs-12 col-sm-6 col-md-6">
											<li>
												<a href="#" title="">Data Collection & Capture</a>
												<p class="hidden-xs hidden-sm hidden-md">Lorem ipsum dolor sit amet,
													consectetur adipiscing elit. Nullam sit amet pretium lectus, a rutrum
													nulla. Curabitur eget viverra turpis. Praesent ac convallis ante.</p>
											</li>
											<li>
												<a href="#" title="">Data Validation & Cleansing</a>
												<p class="hidden-xs hidden-sm hidden-md">Lorem ipsum dolor sit amet,
													consectetur adipiscing elit. Nullam sit amet pretium lectus, a rutrum
													nulla. Curabitur eget viverra turpis. Praesent ac convallis ante.</p>
											</li>
										</ul>
										<ul class="list-unstyled col-xs-12 col-sm-6 col-md-6">
											<li>
												<a href="#" title="">Data Analysis & Comparison</a>
												<p class="hidden-xs hidden-sm hidden-md">Lorem ipsum dolor sit amet,
													consectetur adipiscing elit. Nullam sit amet pretium lectus, a rutrum
													nulla. Curabitur eget viverra turpis. Praesent ac convallis ante.</p>
											</li>
											<li>
												<a href="#" title="">Data Integration & Linking</a>
												<p class="hidden-xs hidden-sm hidden-md">Lorem ipsum dolor sit amet,
													consectetur adipiscing elit. Nullam sit amet pretium lectus, a rutrum
													nulla. Curabitur eget viverra turpis. Praesent ac convallis ante.</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li class="dropdown dropdown--fullwidth">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Clients
								<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<div class="dropdown-menu" role="menu">
								<div class="dropdown-cont">

									<ul class="list-unstyled col-xs-12 col-sm-6 col-md-6">
										<li>
											<a href="#" title="">Link First Link</a>
										</li>
										<li>
											<a href="#" title="">Link One</a>
										</li>
										<li>
											<a href="#" title="">Link One</a>
										</li>
										<li>
											<a href="#" title="">Link One</a>
										</li>
									</ul>
									<ul class="list-unstyled col-xs-12 col-sm-6 col-md-6">
										<li>
											<a href="#" title="">Link One</a>
										</li>
										<li>
											<a href="#" title="">Link One</a>
										</li>
										<li>
											<a href="#" title="">Link One</a>
										</li>
										<li>
											<a href="#" title="">Link One</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<a href="#">Blog</a>
						</li>
						<li>
							<a href="#">Meet the team</a>
						</li>
						<li>
							<a href="#">Contact us</a>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li>
							<button class="btn btn-default cta alt" (click)="requestQuoteForm()">
								Request a Quote
							</button>
						</li>
					</ul>
				</div>
			</nav>

		</div>
	</div>
</header>