@import './../../../assets/sass/includes/mixins.scss';

.section {
    &.min-padd {    
        padding-bottom: 0px !important;
        padding-top: 110px;
    }
}

.image {
    img {
        width: 160% !important;
        margin-top: -100px;
        margin-bottom: -30px;
        display: block;
    }
    max-width: 1000px;
}