<hr class="divider" />

<section class="section min-padd">
  <div class="container">

      <h4 class="intro-header">Responsive Web Applications<span></span></h4>
      <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-4">
              <h4>Lets talk some more...</h4>
             <p>Suspendisse dictum felis non dui aliquam scelerisque. Duis mauris nunc, ultrices et felis at, dignissim aliquet leo. Curabitur in fringilla lectus. Aenean tincidunt odio id nisl viverra, ut sollicitudin lacus pretium.</p>
             <p>In lorem nunc, pellentesque nec mauris eget, mattis tincidunt magna. Curabitur vitae egestas ex, dictum auctor tellus.</p>
          <p>&nbsp;</p>
                <p>
            <button class="btn btn-default btn-sml marg-rgt">Learn More <i
                                          class="fa fa-angle-right-alt"
                                          aria-hidden="true"></i></button>
            </p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="image">
              <img src="./assets/images/default/responsive.jpg" alt="" />
            </div>
          </div>
      </div>
  </div>
</section>

<hr class="divider" />