
<section class="section testimonials">
  <div class="container">

      <h4 class="intro-header">Testimonials<span></span></h4>
      <div class="row">

          <div class="col-xs-12 col-sm-4 col-md-4">
            <p>Suspendisse dictum felis non dui aliquam scelerisque. Duis mauris nunc, ultrices et felis at, dignissim aliquet leo. Curabitur in fringilla lectus. Aenean tincidunt odio id nisl viverra, ut sollicitudin lacus pretium.</p>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-8">
            <div class="row">
              <div class="col-12">
              <owl-carousel id="owl-testimonials" #owlElement [options]="options"
                  [carouselClasses]="['owl-theme', 'sliding']">
                  <div class="testimonial">
                    <div class="bubble">
                      <p>Finally a well designed product for learning. Nothing out there is as simple. Finally a well designed product for learning. Nothing out there is as simple.</p>
                      <span></span>
                    </div>
                    <div class="profile-pic">
                      <img src="assets/images/default/testimonials/testimonial-pic0.png" alt="" />
                    </div>
                    <div class="details">
                      <p><span>Emily Smith</span><br /> Excecutive Producer, Orange</p>
                    </div>
                  </div>
                  <div class="testimonial">
                    <div class="bubble">
                      <p>Finally a well designed product for learning. Nothing out there is as simple. Finally a well designed product for learning. Nothing out there is as simple.</p>
                      <span></span>
                    </div>
                    <div class="profile-pic">
                      <img src="assets/images/default/testimonials/testimonial-pic1.png" alt="" />
                    </div>
                    <div class="details">
                      <p><span>Lim Sze Weng</span><br /> Excecutive Producer, Orange</p>
                    </div>
                  </div>
                  <div class="testimonial">
                    <div class="bubble">
                      <p>Finally a well designed product for learning. Nothing out there is as simple. Finally a well designed product for learning. Nothing out there is as simple.</p>
                      <span></span>
                    </div>
                    <div class="profile-pic">
                      <img src="assets/images/default/testimonials/testimonial-pic2.png" alt="" />
                    </div>
                    <div class="details">
                      <p><span>Teo Jenkins</span><br /> Excecutive Producer, Orange</p>
                    </div>
                  </div>
                  <div class="testimonial">
                    <div class="bubble">
                      <p>Finally a well designed product for learning. Nothing out there is as simple. Finally a well designed product for learning. Nothing out there is as simple.</p>
                      <span></span>
                    </div>
                    <div class="profile-pic">
                      <img src="assets/images/default/testimonials/testimonial-pic3.png" alt="" />
                    </div>
                    <div class="details">
                      <p><span>Laurence Pemberton</span><br /> Excecutive Producer, Orange</p>
                    </div>
                  </div>
                  <div class="testimonial">
                    <div class="bubble">
                      <p>Finally a well designed product for learning. Nothing out there is as simple. Finally a well designed product for learning. Nothing out there is as simple.</p>
                      <span></span>
                    </div>
                    <div class="profile-pic">
                      <img src="assets/images/default/testimonials/testimonial-pic4.png" alt="" />
                    </div>
                    <div class="details">
                      <p><span>Elizabeth Docherty</span><br /> Technical Producer, Santander</p>
                    </div>
                  </div>
                  <div class="testimonial">
                    <div class="bubble">
                      <p>Finally a well designed product for learning. Nothing out there is as simple. Finally a well designed product for learning. Nothing out there is as simple.</p>
                      <span></span>
                    </div>
                    <div class="profile-pic">
                      <img src="assets/images/default/testimonials/testimonial-pic6.png" alt="" />
                    </div>
                    <div class="details">
                      <p><span>Brett Chadwick</span><br /> Excecutive Producer, Orange</p>
                    </div>
                  </div>
              </owl-carousel>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>