<div id="banner-container" class="container container-fluid__banner image removePadd banner-container" #containerBanner>

	<div id="banner-inner" class="container container-fluid__header removePadd">
		<div class="row">
			<!-- 
				<div class="col-xs-12 col-md-6 col-md-push-6 marg-top" #bannerContainer>
          <section class="banner">
            <div id="banner-header-outter" class="banner-header-outter">
              <div class="banner-header">
                           
              </div>
            </div>
          </section>
        </div> 
        <div class="col-xs-12 col-md-6 col-md-pull-6" #bannerContainer>
        -->

			<div class="col-xs-12 col-md-10 marg-top" #bannerContainer>
				<section class="banner">
					<div id="banner-header-outter" class="banner-header-outter">
						<div class="banner-header">
							<h5>Creative app solutions for SME<span>s</span>
							</h5>
							<h1>User-centric, accessible web applications.</h1>
							<h2 class="sub-heading">
								Combining great user experiences; interactive incentives and
								provisions that arouse user interaction, assisting fluid navigation
								towards one's desired goal, enhanced productivity.
							</h2>
							<div class="list-inline banner-buttons">
								<div class="banner-buttons__inner">
									<button class="btn btn-default btn-sml btn-brand marg-rgt">Get in touch
										<i class="fa fa-angle-right-alt" aria-hidden="true"></i></button>
									<button class="btn btn-default btn-sml">Learn More <i class="fa fa-angle-right-alt"
											aria-hidden="true"></i></button>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- <div class="banner-bottom"></div> -->
</div>