<footer>
  <section class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-7">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-8 xs-alt">
              <h6>Services</h6>
              <ul class="list-unstyled">
                <li><a href="#" title="">Dashboard &amp; Analytics</a></li>
                <li><a href="#" title="">Intelligent API</a></li>
                <li><a href="#" title="">Responsive/Hybrid applications</a></li>
                <li><a href="#" title="">Content Management Systems</a></li>
                <li><a href="#" title="">E-Commerce/Shopping Cart</a></li>
                <li><a href="#" title="">Collaboration applications</a></li>
                <li>
                  <a href="#" title="">Interactive event presentations</a>
                </li>
                <li><a href="#" title="">Blog/Forums integration</a></li>
              </ul>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-4 xs-alt">
              <h6>Learn more</h6>
              <ul class="list-unstyled">
                <li><a href="#" title="">Work</a></li>
                <li><a href="#" title="">Blog</a></li>
                <li><a href="#" title="">Meet the Team</a></li>
                <li><a href="#" title="">Process</a></li>
                <li><a href="#" title="">Technology</a></li>
                <li><a href="#" title="">Testimonials</a></li>
                <li><a href="#" title="">Get in touch</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-5">
          <ul class="list-unstyled social-links">
            <li>
              <a href="#" target="_blank" title="facebook"
                ><i class="fa fa-facebook-square"></i
              ></a>
            </li>
            <li>
              <a href="#" target="_blank" title="twitter"
                ><i class="fa fa-twitter-square"></i
              ></a>
            </li>
            <li>
              <a href="#" target="_blank" title="google plus"
                ><i class="fa fa-google-plus-square"></i
              ></a>
            </li>
            <li>
              <a href="#" target="_blank" title="linked in"
                ><i class="fa fa-linkedin-square"></i
              ></a>
            </li>
          </ul>
          <div class="footer-logo"></div>
          <p>
            101 Greyguild Street, Gattin Close, Pavilion Way, HA1 9RU.<br />
            <span *ngIf="currentYear">
              &copy; {{ this.currentYear }} Incentive Apps.
            </span>
          </p>
        </div>
      </div>
    </div>
  </section>
</footer>
