<section class="section intro-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Software Development Tailored For Your Unique Business Goals.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="block">
                    <h3 class="">UX Design</h3>
                    <p class=" intro-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et
                        lobortis magna.
                        Phasellus posuere consequat nibh at pharetra.</p>
                    <div class="image">
                        <img src="../../../assets/images/default/114.jpg" alt="" />

                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="block">
                    <h3 class="">Web &amp; Mobile Apps</h3>
                    <p class=" intro-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et
                        lobortis magna.
                        Phasellus posuere consequat nibh at pharetra.</p>
                    <div class="image">
                        <img src="../../../assets/images/default/relax-app.jpg" alt="" />

                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="block">
                    <h3 class="">Digital Marketing</h3>
                    <p class=" intro-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et
                        lobortis magna.
                        Phasellus posuere consequat nibh at pharetra.</p>
                    <div class="image">
                        <img src="../../../assets/images/default/cigna-global.original.jpg" alt="" />

                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-md-push-2">
                <div class="block">
                    <h3 class="">Content Management Systems</h3>
                    <p class=" intro-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et
                        lobortis magna.
                        Phasellus posuere consequat nibh at pharetra.</p>
                    <div class="image">
                        <img src="../../../assets/images/default/ConsumerData_home.jpg" alt="" />

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-md-push-2">
                <div class="block">
                    <h3 class="">Shopping Cart</h3>
                    <p class=" intro-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et
                        lobortis magna.
                        Phasellus posuere consequat nibh at pharetra.</p>
                    <div class="image">
                        <img src="../../../assets/images/default/soft3.png" alt="" />

                    </div>
                </div>
            </div>
        </div>    
    </div>
</section>


<hr class="divider" />