<main class="content">
    <div class="main">
        <section>
            <article>

                <header>
                    <h3>Homepage</h3>
                </header>

                <div class="row">
                    <div class="col-xs-12">
                        <p>This a paragraph
                            <a href="#" (click)="LaunchDefaultModal()" title="">Click Here</a>
                        </p>
                    </div>
                </div>

            </article>
        </section>
    </div>
</main>