@import "./breakpoints";

.form {
  &.contact-form {
    margin-top: 0px;
    border: 1px solid #f0f3f7;
    margin-top: -230px;
    @include radius(4px);

    @media (min-width: $screen-lg) {
      @include shadow(0, 2px, 6px, rgba(0, 0, 0, 0.05));
    }
  }

  padding: 2rem;
  background-color: $color--white;

  label {
    font-family: $roboto-slab-font;
    font-weight: 700;
  }

  &__inner {
    div.row,
    div[class*="col"] {
      margin-right: 0px;
      margin-left: 0px;

      padding-left: 0px;
      padding-right: 0px;
    }

    div[class*="col"] {
      padding-left: 0px;
      padding-right: 0px;

      @media (min-width: $screen-sm) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .checkboxlist {
      .checkbox input[type="checkbox"],
      .checkbox-inline input[type="checkbox"],
      .radio input[type="radio"],
      .radio-inline input[type="radio"] {
        margin-top: 8px;
      }
    }
  }
}

.error-list {
  &__error {
    font-family: $roboto-slab-font;
    color: red;
    small {
      font-size: 0.8em;
    }
  }
}

.pretty {
  width: 100%;
  &.newsletter {
    width: auto;
  }
}
