<div class="row form contact-form">
    <div class="col-sm-12">

        <form [formGroup]="contactForm" id="contactForm" class="" name="contactForm" autocomplete="true">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                    <label for="fullname">Fullname:</label>
                    <input id="fullname" formControlName="fullname" type="text" name="fullname" class="form-control" />
                    <div *ngIf="contactForm.controls.fullname.invalid && (contactForm.controls.fullname.dirty || contactForm.controls.fullname.touched)"
                        class="error-list">
                        <span class="error-list__error" *ngIf="contactForm.controls.fullname.errors.required">
                            <small>The fullname is required</small>
                        </span>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                    <label for="email">Email:</label>
                    <input id="email" formControlName="email" type="text" name="email" class="form-control" />
                    <div *ngIf="contactForm.controls.email.invalid && (contactForm.controls.email.dirty || contactForm.controls.email.touched)"
                        class="error-list">
                        <span class="error-list__error" *ngIf="contactForm.controls.email.errors.required">
                            <small>The email is required</small>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-12">
                    <label for="message">Message:</label>
                    <textarea id="message" formControlName="message" rows="6" name="message"
                        class="form-control"></textarea>
                    <div *ngIf="contactForm.controls.message.invalid && (contactForm.controls.message.dirty || contactForm.controls.message.touched)"
                        class="error-list">
                        <span class="error-list__error" *ngIf="contactForm.controls.message.errors.required">
                            <small>The message is required</small>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="checkbox col-xs-12">
                    <label><input formControlName="newsletter" type="checkbox"> I'd like to recieve monthly news
                        updates</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-default full-width" (click)="sendForm()">Send</button>
                </div>
            </div>
        </form>

        <!-- <form [formGroup]="contactForm" id="contactForm" class="" name="contactForm" autocomplete="true">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6">
                    <label for="fullname">Fullname:</label>
                    <input id="fullname" formControlName="fullname" type="text" name="fullname"
                        class="form-control" />
                    <div *ngIf="contactForm.controls.fullname.invalid && (contactForm.controls.fullname.dirty || contactForm.controls.fullname.touched)"
                        class="error-list">
                        <span class="error-list__error" *ngIf="contactForm.controls.fullname.errors.required">
                            <small>The fullname is required</small>
                        </span>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6">
                    <label for="firstname">Firstname:</label>
                    <input id="firstname" formControlName="firstname" type="text" name="firstname"
                        class="form-control" />
                    <div *ngIf="contactForm.controls.firstname.invalid && (contactForm.controls.firstname.dirty || contactForm.controls.firstname.touched)"
                        class="error-list">
                        <span class="error-list__error" *ngIf="contactForm.controls.firstname.errors.required">
                            <small>The firstname is required</small>
                        </span>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6">
                    <label for="surname">Surname:</label>
                    <input id="surname" formControlName="surname" type="text" name="surname" class="form-control" />
                    <div *ngIf="contactForm.controls.surname.invalid && (contactForm.controls.surname.dirty || contactForm.controls.surname.touched)"
                        class="error-list">
                        <span class="error-list__error" *ngIf="contactForm.controls.surname.errors.required">
                            <small>The surname is required</small>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6">
                    <label for="email">Email:</label>
                    <input id="email" formControlName="email" type="text" name="email" class="form-control" />
                    <div *ngIf="contactForm.controls.email.invalid && (contactForm.controls.email.dirty || contactForm.controls.email.touched)"
                        class="error-list">
                        <span class="error-list__error" *ngIf="contactForm.controls.email.errors.required">
                            <small>The email is required</small>
                        </span>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6">
                    <label for="phone">Telephone:</label>
                    <input id="phone" formControlName="phone" type="text" name="phone" class="form-control" />
                    <div *ngIf="contactForm.controls.phone.invalid && (contactForm.controls.phone.dirty || contactForm.controls.phone.touched)"
                        class="error-list">
                        <span class="error-list__error" *ngIf="contactForm.controls.phone.errors.required">
                            <small>Your telephone number is required</small>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12">
                <label for="company">Company:</label>
                <input id="company" formControlName="company" type="text" name="company" class="form-control" />
                <div *ngIf="contactForm.controls.company.invalid && (contactForm.controls.company.dirty || contactForm.controls.company.touched)"
                    class="error-list">
                    <span class="error-list__error" *ngIf="contactForm.controls.company.errors.required">
                        <small>The company is required</small>
                    </span>
                </div>
            </div>
            <div class="form-group col-xs-12">
                <label for="subject">Subject:</label>
                <input id="subject" formControlName="subject" type="text" name="subject" class="form-control" />
                <div *ngIf="contactForm.controls.subject.invalid && (contactForm.controls.subject.dirty || contactForm.controls.subject.touched)"
                    class="error-list">
                    <span class="error-list__error" *ngIf="contactForm.controls.subject.errors.required">
                        <small>The subject is required</small>
                    </span>
                </div>
            </div>
            <div class="form-group col-xs-12">
                <label for="message">Message:</label>
                <textarea id="message" formControlName="message" rows="6" name="message"
                    class="form-control"></textarea>
                <div *ngIf="contactForm.controls.message.invalid && (contactForm.controls.message.dirty || contactForm.controls.message.touched)"
                    class="error-list">
                    <span class="error-list__error" *ngIf="contactForm.controls.message.errors.required">
                        <small>The message is required</small>
                    </span>
                </div>
            </div>
            <div class="checkbox col-xs-12">
                <label><input formControlName="newsletter" type="checkbox"> I'd like to recieve monthly news
                    updates</label>
            </div>
            <div class="col-xs-12">
                <button type="submit" class="btn btn-default" (click)="sendForm()">Send</button>
            </div>
        </form> -->

    </div>
</div>